//**The following colors are being named and documented using the service from: http://chir.ag/projects/name-that-color/
/**
  * Black
  * @color
*/
$black: #000;

/**
  * White
  * @color
*/
$white: #fff;

/**
  * Orange
  * @color
*/
$orange: #f68721;

/**
  * Blue
  * @color
*/
$blue: #5bcbf5;

/**
  * Red
  * @color
*/
$red: #fb5151;

/**
  * Green
  * @color
*/
$green: #00FF00;
